/*-----------------------------------------------------------------------------------------------
Title:		...
Author:		Dom
Created:	00.00.2018 - 00:00
Revised: 	00.00.2018 - 00:00
-----------------------------------------------------------------------------------------------*/
html{
	background-color: RGB(24,24,32);
	background-image: url("image/background.png"), url("image/background-rain.gif");
	background-repeat: repeat-x, repeat;
}
body {
	background-color: RGB(24,24,32);
}
.post {
	background-color: RGB(12,12,16);
	overflow: auto;
}
p {
	color:white;
	font-family:"Verdana", Geneva, sans-serif;
	font-size: medium;
	margin-top: 0em;
	margin-bottom: 0em;
}
#header {
	margin-top: 158px;
	border: thin solid #303038;
}
#nav {
	float:left;
	background-color:RGB(0,0,0);
	border: thin solid #303038;
	padding-left:0.5em; padding-right:0.5em;
}
#nav:hover {
	background-color:RGB(24,24,24);
}
#center{
	margin-top: 1em;
	padding: 1em;
	border: thin solid #303038;
}
#footer{
	margin-top: 1em;
	border: thin solid #303038;
}

/*
body {
	background-color: RGB(24,24,32);
	margin-left: 0px;
	margin-right: 0px;
	color: white;
}
iframe {
	border: 1px solid black;
	width: 100%;
	height: 300px;
	overflow-y: visible;
	color:white;
}
.post {
	background-color: RGB(24,24,32);
	border: 1px solid black;
}
#center {
	height: 100%;
}
#footer {
}
#nav_inactive {
	float:left;
	height:auto;

	padding-left:0.5em;
	padding-right:0.5em;

	background-color:RGB(0,0,0);
	border: thin solid #303038;
}
#nav_active {
	float:left;
	height:auto;

	padding-left:0.5em;
	padding-right:0.5em;

	background-color:RGB(0,0,0);
	border: thin solid #303038;
}
#nav_active:hover {
	background-color:RGB(24,24,24);
}
p {
	color:white;
	font-family:"Verdana", Geneva, sans-serif;
	font-size:medium;
	margin-top:0em;
	margin-bottom:0em;
	padding-left:0px;
}
h1 {
	color:#c0c0c0;
	font-family:"Verdana", Geneva, sans-serif;
	font-size:large;
	font-weight:bold;
	margin-top:0em;
	margin-bottom:0em;
	padding-left:2px;
}
h2 {
	color:#c0c0c0;
	font-family:"Verdana", Geneva, sans-serif;
	font-size:medium;
	text-decoration:underline;
	text-align:left;
	margin-top:0em;
	margin-bottom:0em;
	padding-left:0px;
}
a:link {
	color:#606070;
	font-family:"Verdana", Geneva, sans-serif;
	font-size:medium;
	text-decoration:none;
	margin-top:0em;
	margin-bottom:0em;
}
a:active {
	color:#606070;
	font-family:"Verdana", Geneva, sans-serif;
	font-size:medium;
	text-decoration:none;
	margin-top:0em;
	margin-bottom:0em;
}
a:visited {
	color:#606070;
	font-family:"Verdana", Geneva, sans-serif;
	font-size:medium;
	text-decoration:none;
	margin-top:0em;
	margin-bottom:0em;
}
a:hover {
	color:#c0c0d0;
	font-family:"Verdana", Geneva, sans-serif;
	font-size:medium;
	text-decoration:none;
	margin-top:0em;
	margin-bottom:0em;
}
table {
	color:white;
	font-family: "Verdana", Geneva, sans-serif;
	font-size:small;
	width:100%;
	margin-left:0;
	margin-right:0;
	text-align:left;
}
th {
	border: 1px solid #404060;
	padding: 5px;
}
ul {
	color: white;
	list-style: disclosure-closed;
}
*/
