/*-----------------------------------------------------------------------------------------------
Title:		...
-----------------------------------------------------------------------------------------------*/
html{
	background-color: RGB(24,24,32);
	background-image: url("image/background.png"), url("image/background-rain.gif");
	background-repeat: repeat-x, repeat;
}
body {
	margin: 0px;
}
/*---------------------------------------------------------------------------------------------*/
p {
	color:white;
	font-family:"Verdana", Geneva, sans-serif;
	font-size: medium;
	margin-top: 0em;
	margin-bottom: 0em;
}
h1 {
	color: white;
	font-family:"Verdana", Geneva, sans-serif;
	font-size: medium;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
}
ul {
	color: white;
	list-style: none;
}

ul li:before {
	content: "\2666 \0020";
}
/*---------------------------------------------------------------------------------------------*/
.main {
	background-color: RGB(12,12,16);
	border: thin solid #303038;
}
#main_header {
	margin-top: 158px;
	border: thin solid #303038;
	text-align: right;
	padding-right: 1em;
}
#main_header_navigator {
	border-top: none;
	border-bottom: none;
}
#main_header_music {
	margin-bottom: 1em;
}
#audio {
	width: 100%;
	display: block;
}
#main_center {
	min-height: 7em;
}
#main_footer {
	border-left: none; border-right: none;
	margin-top: 1em;
	width:100%;
}
/*---------------------------------------------------------------------------------------------*/
.nav {
	font-size: large;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#nav_inactive {
}
#nav_active {
}
#nav_active:hover {
	background-color: RGB(24,24,24);
}
/*---------------------------------------------------------------------------------------------*/
.post {
	padding: 1em;
}
#post_center {
	width: 100%;
	border-bottom: thin solid #303038;
	text-align: center;
}
#post_left {
	float: left;
	width: 25%;
}
#post_right {
	margin-left: 25%;
	border-left: thin solid #303038;
}
#post_footer{
	min-height: 1em;
	border-top: none;
	padding-left: 0.5em;
}
/*---------------------------------------------------------------------------------------------*/
