/*-----------------------------------------------------------------------------------------------
Title:		...
-----------------------------------------------------------------------------------------------*/
html{
	background-color: RGB(24,24,32);
	background-image: url("image/background.png"), url("image/background-rain.gif");
	background-repeat: repeat-x, repeat;
}
body {
	margin: 0px;
}
/*---------------------------------------------------------------------------------------------*/
p {
	color: #e2e2e9;
	font-family:"Verdana", Geneva, sans-serif;
	font-size: medium;
	margin-top: 0em;
	margin-bottom: 0em;
}
h1 {
	color: #e2e2e9;
	font-family:"Verdana", Geneva, sans-serif;
	font-size: medium;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
}
/*---------------------------------------------------------------------------------------------*/
.main {
	background-color: RGB(12,12,16);
	border: thin solid #303038;
}
#main_header {
	margin-top: 158px;
	border: thin solid #303038;
	text-align: center;
	padding-right: 8px;
}
#main_header_navigator {
	border-top: none;
	overflow: auto;
	border-bottom: none;
/*
	margin-bottom: 1em;
*/
}
#main_header_navigator p {
	font-size: 2em;
	padding-left: 0.2em;
	padding-right: 1em;
	font-family: 'Times New Roman';
	display: block;
/*
	font-weight: bold;
	text-transform: uppercase;
*/
	color: #808080;
	background-color: #0b0b0f;
	border: 1px solid #e2e2e9;
}
#main_header_navigator a {
	font-size: 2em;
	padding-left: 0.2em;
	padding-right: 1em;
	font-family: 'Times New Roman';
	text-decoration: none;
	color: white;
	border: 1px solid #e2e2e9;
	display: block;
}
#main_header_music {
	margin-bottom: 1em;
}
#main_header_music p {
	color: #808080;
}
#audio {
	width: 100%;
	display: block;
}
#main_center {
	min-height: 7em;
}
#main_footer {
	border-left: none; border-right: none;
	margin-top: 1em;
	width:100%;
}
/*---------------------------------------------------------------------------------------------*/
.nav {
	font-size: large;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#nav_inactive {
}
#nav_active {
}
#nav_active:hover {
	background-color: RGB(24,24,24);
}
/*---------------------------------------------------------------------------------------------*/
.post {
	padding: 1em;
}
#post_center {
	width: 100%;
	border-bottom: thin solid #303038;
	text-align: center;
}
#post_left {
	float: left;
	width: 25%;
}
#post_left a {
	color: #e2e2e9;
}
#post_left ul {
	color: white;
	list-style: none;
}

#post_left ul li:before {
	content: "\2666 \0020";
}

#post_right {
	margin-left: 25%;
	border-left: thin solid #303038;
	border: 1px solid #e2e2e9;
	display: block;
}
#post_footer{
	min-height: 1em;
	border-top: none;
	padding-left: 0.5em;
}
/*---------------------------------------------------------------------------------------------*/
